@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="background-color:darkslategrey">DOBRODOŠLI</h1>
        <h4 style="color:forestgreen">Sajt služi za dodavanje novih plesnih škola, instruktora koji rade u njima i plesova koje drže. U svakoj školi se mogu upisati korisnici.</h4>
        <br \><br \>
        <h5>Moguće je uklanjanje kreiranih škola, korisnika, plesova i instruktora, ukoliko je to potrebno. Takođe, mogu se promeniti određeni podaci.</h5>
        <h3 style="background-color:lightgreen">Izaberite neku od opcija: </h3>
        <br \><br \>
        <div>
            <a href="../PlesnaSkola/dodajPlesnuSkolu">Dodaj plesnu skolu</a>
        </div>
        <div>
            <a href="../Ples/dodajPles" class="this-page-style">Dodaj ples</a>
        </div>
        <div>
            <a href="../Instruktor/dodajInstruktora" class="this-page-style">Dodaj instruktora</a>
        </div>
        <div>
            <a href="../Korisnik/dodajKorisnika" class="this-page-style">Dodaj korisnika</a>
        </div>
        <br />
        <div>
            <a href="../PlesnaSkola/idiNaobrisiStranicu" class="this-page-style">Obrisi, izmeni ili oceni plesnu skolu </a>
        </div>
        <div>
            <a href="../Ples/idiNaobrisiPlesStranicu" class="this-page-style">Obrisi ,izmeni ili pretrazi ples</a>
        </div>
        <div>
            <a href="../Korisnik/idiNaobrisiKorisnikStranicu" class="this-page-style">Obrisi,izmeni i pretrazi korisnika</a>
        </div>
        <div>
            <a href="../Instruktor/idiNaobrisiInstruktorStranicu" class="this-page-style">Obrisi,izmeni ili pretrazi</a>
        </div>
        <div>
            <a href="../PlesnaSkola/PrikaziPlesneSkole" class="this-page-style">Prikazi sve plesne skole </a>
        </div>
        <div>
            <a href="../Ples/PrikaziPles" class="this-page-style">Prikazi sve  plesove</a>
        </div>
        <div>
            <a href="../Korisnik/PrikaziKorisnike" class="this-page-style">Prikazi sve korisnike </a>
        </div>
        <div>
            <a href="../Instruktor/PrikaziInstruktore" class="this-page-style">Prikazi sve instruktore</a>
        </div>
        <div>
            <a href="../PlesnaSkola/Preporuke" class="this-page-style">Preporuke najbolje ocenjenih skola </a>
        </div>
        <div>
            <a href="../Instruktor/idiNaZaposliInstruktora" class="this-page-style">Zaposli instruktora u plesnu školu</a>
        </div>
        <div>
            <a href="../PlesnaSkola/idiNaDodavanjePlesa" class="this-page-style">Dodaj ples u plesnu skolu</a>
        </div>
    </div>
